@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  background: #000000;
}

.rfs-144 {
  @include font-size(105px);
}

.rfs-96 {
  @include font-size(72px);
}

.rfs-48 {
  @include font-size(48px);
}

.rfs-36 {
  @include font-size(30px);
}

.rfs-mb-8 {
  @include margin-bottom(8rem);
}
